h1 {
  display: block;
  font-size: 50px;
  color:seagreen;
}
h2 {
  display: block;
  font-size: 25px;
  color:orangered;
}

p {
  display: block;
 color: darkblue;
}

abbr {
  display: inline;
}

address {
  display: block;
  font-style: normal;
}

a:link, a:visited {
  color: blue;
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: blue;;
}

bdo {
  unicode-bidi: bidi-override;
}

.button{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.button:hover {
  background-color: #008CBA;
  color: white;
}



cite {
  font-style: italic;
}

.myDiv {
  border: 2px outset black;
  background-color: lightblue;
  text-align: center;
}
